/* test borders */
.red-border {border: red solid 1px;}
.green-border {border: green solid 1px;}
.black-border {border: black solid 1px;}
.yellow-border {border: yellow solid 1px;}
.blue-border {border: blue solid 1px;}
.grey-border {border: grey solid 1px;}
/* end test borders */

html, body {
    height: 100%;
}